<div class="navbar-top">
        <a class="navbar-brand" href="">Flügger</a>
</div>

<nav class="nav">
    <div class="nav-item">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            Vareoversigt
        </NavLink>
    </div>

    <div class="nav-item">
        <NavLink class="nav-link" href="counter">
            Reklamation
        </NavLink>
    </div>

    <div class="nav-item">
        <NavLink class="nav-link" href="weather">
            Kunder
        </NavLink>
    </div>
</nav>

