.navbar-top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.nav-item {
    font-size: 0.9rem;
    border-bottom: 0.1rem solid white;
}

    .nav-item:first-of-type {
        border-top: 0.1rem solid white;
    }

    .nav-item ::deep .nav-link {
        background: none;
        border: none;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        width: 100%;
        justify-content: center;
        text-decoration: none;
        color: white;
    }


.nav-item ::deep a.active {
    font-weight: bold;
    color: white;
}

.nav-item ::deep .nav-link:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}
