h1 {
    margin: 1em auto;
}

#outer-register-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#register-container {
    background-color: #d6d6d6;
    padding: 3em 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    #register-container h1 {
        font-size: 48px;
        padding-bottom: 1em;
    }

#inner-register-container {
    display: flex;
    flex-direction: column;
}

#inner-register-container:first-child {
    display: flex;
    flex-direction: column;
}

#test {
    background-color: pink;
}

input {
    width: 50em;
    margin: 1em 0;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #404040;
    color: #fff;
}

button {
    background-color: #068f68;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin: 10px 0;
    font-size: 18px;
    cursor: pointer;
}